<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PyTexas {{ CONFERENCE_YEAR }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="The largest community-run Python event in Texas. Join us in person on {{ CONFERENCE_DATES }} at the Austin Public Library">
    <meta name="twitter:image:src" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/{{ CONFERENCE_YEAR }}-logo.png"/>
    <meta name="twitter:site" content="@pytexas"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ CONFERENCE_YEAR }}"/>
    <meta name="twitter:description"
          content="The largest community-run Python event in Texas. Join us in person on {{CONFERENCE_DATES}} at the Austin Public Library"/>
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/{{ CONFERENCE_YEAR }}-logo.png"/>
    <meta property="og:site_name" content="PyTexas {{ CONFERENCE_YEAR }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ CONFERENCE_YEAR }}"/>
    <meta property="og:description"
          content="The largest community-run Python event in Texas. Join us in person on {{CONFERENCE_DATES}} at the Austin Public Library"/>
    <script type="text/javascript">
        window.addEventListener("load", function () {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" rel="stylesheet" type="text/css" media="all"/>

    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }}-Feed"/>
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }} {{ TAGLINE }}{% endblock title %}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width">
    {% endblock head %}
</head>

<body>
<div class="loader">
    <div class="loading-animation"></div>
</div>
<div class="navbar-container ">
    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation" data-sticky="top">
        <div id="menuToggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <input name="toggle" type="checkbox"/>
        <div class="icon navbar-toggler-open">
            <label for="toggle">
                <span>menu</span>
                <div></div>
                <div></div>
                <div></div>
            </label>
        </div>
            <ul id="menu">
                <a href="/"><li>Home</li></a>
                {% for title, items in MENUITEMS.items() %}
                    {% if items.Dropdown %}
                        <a>
                            <li>{{ title }}</li>
                        </a>
                        <ul id="submenu">
                            {% for pgtitle, link in items.Pages.items() %}
                                <a href="{{ link }}">
                                    <li>{{ pgtitle }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <a href="{{ items.Index }}">
                        <li>{{ title }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/{{ CONFERENCE_YEAR }}-logo-text.svg" width="250"
                     height="50" alt="PyTexas Annual Logo Text">
            </a>
            <div class="py-2 py-lg-0">
                <ul class="navbar-nav">
                    {% for title, items in MENUITEMS.items() %}
                        {% if items.Dropdown %}
                            <div class="dropdown">
                                <div class="dropdown-text">{{ title }}</div>
                                <input type="checkbox">
                                <div class="dropdown-container">
                                    {% for pgtitle, link in items.Pages.items() %}
                                        <a href="{{ link }}">{{ pgtitle }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a href="{{ items.Index }}" class="nav-link">{{ title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="https://ti.to/pytexas/2023" class="btn btn-nav-bar mx-lg-3">Get Your Ticket to PyTexas!</a>
    </nav>
</div>

{% block content %}{% endblock %}

{% include 'footer.html' %}
</body>

</html>