<footer class="pb-4 bg-primary-3 text-light" id="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <div class="card card-body border-0 o-hidden mb-0 bg-highlight text-light">
            <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
              <div class="h3 text-center mb-md-0">Join us in Austin for the largest community-run Python event in Texas
              </div>
              <a href="https://ti.to/pytexas/pytexas-2022" class="btn btn-lg btn-2022-orange bg-2022-purple">Get Your Ticket to PyTexas!</a>
            </div>
          </div>

        </div>
      </div>
      <div class="row mb-5">
        <div class="col-6 col-lg-3 col-xl-2">
          <h5>Navigate</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            </li>
            <!--
            <li class="nav-item">
              <a href="/schedule" class="nav-link">Schedule</a>
            </li>-->
            <li class="nav-item">
              <a href="/venue" class="nav-link">Venue</a>
            </li>
            <!--
            <li class="nav-item">
              <a href="/speaking" class="nav-link">Speaking</a>
            </li>-->
            
            <li class="nav-item">
              <a href="/sponsors/prospectus" class="nav-link">Sponsors</a>
            </li>
            <!--
            <li class="nav-item">
              <a href="/job_board" class="nav-link">Job Board</a>
            </li>-->
          </ul>
        </div>
        <div class="col-6 col-lg">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li class="mb-3 d-flex">
              <img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/social/twitter.svg" alt="call-1 icon" data-inject-svg />
              <div class="ml-3">
                <a href="https://twitter.com/pytexas">@pytexas</a>
                <span class="d-block text-muted text-small">Follow us on Twitter</span>
              </div>
            </li>
            <li class="mb-3 d-flex">
              <img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/theme/communication/mail.svg" alt="mail icon" data-inject-svg />
              <div class="ml-3">
                <a href="mailto:contact@pytexas.org">contact@pytexas.org</a>
                <span class="d-block text-muted text-small">Email us with any questions</span>
              </div>
            </li>
            <li class="mb-3 d-flex">
              <img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/theme/map/marker-1.svg" alt="marker-1 icon" data-inject-svg />
              <div class="ml-3">
                <a href="https://goo.gl/maps/ZLGD1v6qvWDgTmqo8">710 W Cesar Chavez St
                  <br />Austin, TX 78701</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 col-xl-4 mt-3 mt-lg-0">
          <h5>Subscribe</h5>
          <p>Join the PyTexas mailing list for news and announcements.</p>
          <form action="//pytexas.us11.list-manage.com/subscribe/post?u=93d4ab771d0c2e4facc053add&amp;id=fa6aa40a2e"
            method="post" data-form-email novalidate>
            <div class="form-row">
              <div class="col-12">
                <input type="email" class="form-control mb-2" placeholder="Email Address" name="EMAIL" required>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-2022-orange bg-2022-purple btn-loading btn-block "
                  data-loading-text="Sending">
                  <img class="icon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/theme/code/loading.svg" alt="loading icon" data-inject-svg />
                  <span>Subscribe</span>
                </button>
              </div>
            </div>
          </form>
          <small class="text-muted form-text">We’ll never share your details. See our <a
              href="/about/privacy-statement/">Privacy Statement</a>
          </small>

        </div>
      </div>
      <div class="row justify-content-center mb-2">
        <div class="col-auto">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://discord.gg/jNPAbcNukj" class="nav-link">
                <img class="icon undefined" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/social/discord.svg" alt="discord social icon"
                  data-inject-svg />
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/pytexas" class="nav-link">
                <img class="icon undefined" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/social/twitter.svg" alt="twitter social icon"
                  data-inject-svg />
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.youtube.com/channel/UCkn0L-L6auy9YAmlSy9Kv1Q/playlists" class="nav-link">
                <img class="icon undefined" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/icons/social/youtube.svg" alt="youtube social icon"
                  data-inject-svg />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-auto text-center">
          <small class="text-muted">&copy;2022 PyTexas Foundation — <a href="/about/code-of-conduct/">Code of
              Conduct</a>, <a href="/about/privacy-statement/">Privacy Statement</a>

          </small>
        </div>
      </div>
    </div>
  </footer>